<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Harvyball.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Harvyball.Properties.Settings>
            <setting name="flg_chk_PP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="flg_chk_PS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="flg_chk_PS_all" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="flg_chk_PS_width" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="flg_chk_PS_height" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="src_shp_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Currentindex" serializeAs="String">
                <value>0</value>
            </setting>
        </Harvyball.Properties.Settings>
    </userSettings>
</configuration>